<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".CallkitService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".IncomingCallActivity" />

        <receiver
            android:name=".HandleCallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.callkit.ACTION_CREATE_CALL" />
                <action android:name="com.example.callkit.ACTION_ACCEPT_CALL" />
                <action android:name="com.example.callkit.ACTION_CANCEL_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>